<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DequeLab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <DequeLab.Properties.Settings>
            <setting name="dLeftMaxSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="dRightMaxSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="dLeftMinFront" serializeAs="String">
                <value>-500</value>
            </setting>
            <setting name="dLeftMaxFront" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dRightMinFront" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dRightMaxFront" serializeAs="String">
                <value>500</value>
            </setting>
        </DequeLab.Properties.Settings>
    </userSettings>
</configuration>
